<settings>

	<!--CLOCK SETTING -->
	<setting propertyKey="@Properties.UseMilitaryFormat"
		title="@Strings.MilitaryFormatTitle">
		<settingConfig type="boolean" />
	</setting>

	<setting propertyKey="@Properties.UseHoursFormat01"
		title="@Strings.UseHoursFormat01">
		<settingConfig type="boolean" />
	</setting>

	<setting propertyKey="@Properties.ShowAmPm"
		title="@Strings.ShowAmPm">
		<settingConfig type="boolean" />
	</setting>

	<setting propertyKey="@Properties.BgndCol"
		title="@Strings.BgndColTitle">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.TimeColor"
		title="@Strings.TimeColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.DateColor"
		title="@Strings.DateColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<!--BATTERY -->
	<setting propertyKey="@Properties.BatteryTextColor"
		title="@Strings.BatteryTextColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.BatteryImageColor"
		title="@Strings.BatteryImageColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.BatteryHighPowerColor"
		title="@Strings.BatteryHighPowerColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.BatteryLowPowerColor"
		title="@Strings.BatteryLowPowerColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.BatteryLowPowerValue"
		title="@Strings.BatteryLowPowerValue">
		<settingConfig type="numeric" min="0" max="100" />
	</setting>

	<!--STATUS -->
	<setting propertyKey="@Properties.ConnectTrueColor"
		title="@Strings.ConnectTrueColor" prompt="@Strings.SetBgndCol">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.ConnectFalseColor"
		title="@Strings.ConnectFalseColor"
		prompt="@Strings.SetBgndCol">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.MessageTrueColor"
		title="@Strings.MessageTrueColor" prompt="@Strings.MessageTrueColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.MessageFalseColor"
		title="@Strings.MessageFalseColor"
		prompt="@Strings.SetBgndCol">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.AlarmTrueColor"
		title="@Strings.AlarmTrueColor" prompt="@Strings.SetBgndCol">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.AlarmFalseColor"
		title="@Strings.AlarmFalseColor" prompt="@Strings.SetBgndCol">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.DNDTrueColor"
		title="@Strings.DNDTrueColor" prompt="@Strings.SetBgndCol">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.DNDFalseColor"
		title="@Strings.DNDFalseColor" prompt="@Strings.SetBgndCol">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>


	<!--HEART RATE -->
	<setting propertyKey="@Properties.HeartRateTextColor"
		title="@Strings.HeartRateTextColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.HeartRateImageColor"
		title="@Strings.HeartRateImageColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<!--STEPS -->
	<setting propertyKey="@Properties.StepsTextColor"
		title="@Strings.StepsTextColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.StepsImageColor"
		title="@Strings.StepsImageColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<!--PRESSURE -->
	<setting propertyKey="@Properties.PressureTextColor"
		title="@Strings.PressureTextColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.PressureImageColor"
		title="@Strings.PressureImageColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.PressureUnit"
		title="@Strings.PressureUnit">
		<settingConfig type="list">
			<listEntry value="0">@Strings.PressureUnitMmHg</listEntry>
			<listEntry value="1">@Strings.PressureUnitPsi</listEntry>
			<listEntry value="2">@Strings.PressureUnitInchHg</listEntry>
			<listEntry value="3">@Strings.PressureUnitBar</listEntry>
			<listEntry value="4">@Strings.PressureUnitKPa</listEntry>
			<listEntry value="5">@Strings.PressureUnithPa</listEntry>
		</settingConfig>
	</setting>

	<!--TEMPERATURE -->
	<setting propertyKey="@Properties.TemperatureTextColor"
		title="@Strings.TemperatureTextColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.TemperatureImageColor"
		title="@Strings.TemperatureImageColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.TemperatureUnit"
		title="@Strings.TemperatureUnit">
		<settingConfig type="list">
			<listEntry value="0">@Strings.TemperatureUnitCelsius</listEntry>
			<listEntry value="1">@Strings.TemperatureUnitFahrenheit</listEntry>
			<listEntry value="2">@Strings.TemperatureUnitKelvin</listEntry>
		</settingConfig>
	</setting>

	<!--CALORIES -->
	<setting propertyKey="@Properties.CaloriesTextColor"
		title="@Strings.CaloriesTextColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.CaloriesImageColor"
		title="@Strings.CaloriesImageColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<!--DISTANCE -->
	<setting propertyKey="@Properties.DistanceTextColor"
		title="@Strings.DistanceTextColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.DistanceImageColor"
		title="@Strings.DistanceImageColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.DistanceUnit"
		title="@Strings.DistanceUnit">
		<settingConfig type="list">
			<listEntry value="0">@Strings.DistanceUnitKilometer</listEntry>
			<listEntry value="1">@Strings.DistanceUnitMile</listEntry>
		</settingConfig>
	</setting>

	<!--FLOORS -->
	<setting propertyKey="@Properties.FloorsTextColor"
		title="@Strings.FloorsTextColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.FloorsImageColor"
		title="@Strings.FloorsImageColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<!--ELEVATION -->
	<setting propertyKey="@Properties.ElevationTextColor"
		title="@Strings.ElevationTextColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.ElevationImageColor"
		title="@Strings.ElevationImageColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.ElevationUnit"
		title="@Strings.ElevationUnit">
		<settingConfig type="list">
			<listEntry value="0">@Strings.ElevationUnitMeter</listEntry>
			<listEntry value="1">@Strings.ElevationUnitFoot</listEntry>
		</settingConfig>
	</setting>


	<!--SUNRISE -->
	<setting propertyKey="@Properties.SunriseTextColor"
		title="@Strings.SunriseTextColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.SunriseImageColor"
		title="@Strings.SunriseImageColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<!--SUNSET -->
	<setting propertyKey="@Properties.SunsetTextColor"
		title="@Strings.SunsetTextColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.SunsetImageColor"
		title="@Strings.SunsetImageColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<!--SUNEVENT -->
	<setting propertyKey="@Properties.SunEventTextColor"
		title="@Strings.SunEventTextColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.SunEventImageColor"
		title="@Strings.SunEventImageColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<!--FIELD WIND -->
	<setting propertyKey="@Properties.WindUnit"
		title="@Strings.WindUnit">
		<settingConfig type="list">
			<listEntry value="0">@Strings.SpeedUnitMSec</listEntry>
			<listEntry value="1">@Strings.SpeedUnitKmH</listEntry>
			<listEntry value="2">@Strings.SpeedUnitMileH</listEntry>
			<listEntry value="3">@Strings.SpeedUnitFtSec</listEntry>
		</settingConfig>
	</setting>

	<!--FIELD TYPES -->
	<setting propertyKey="@Properties.F1"
		title="@Strings.F1">
		<settingConfig type="list">
			<listEntry value="0">@Strings.FIELD_TYPE_EMPTY</listEntry>
			<listEntry value="1">@Strings.FIELD_TYPE_BAT</listEntry>
			<listEntry value="2">@Strings.FIELD_TYPE_HR</listEntry>
			<listEntry value="3">@Strings.FIELD_TYPE_STEPS</listEntry>
			<listEntry value="4">@Strings.FIELD_TYPE_PRESSURE</listEntry>
			<listEntry value="5">@Strings.FIELD_TYPE_TEMPERATURE</listEntry>
			<listEntry value="6">@Strings.FIELD_TYPE_CALORIES</listEntry>
			<listEntry value="7">@Strings.FIELD_TYPE_DISTANCE</listEntry>
			<listEntry value="8">@Strings.FIELD_TYPE_FLOOR</listEntry>
			<listEntry value="9">@Strings.FIELD_TYPE_ELEVATION</listEntry>
			<listEntry value="10">@Strings.FIELD_TYPE_SUN_EVENT</listEntry>
			<listEntry value="11">@Strings.FIELD_TYPE_SUNRISE</listEntry>
			<listEntry value="12">@Strings.FIELD_TYPE_SUNSET</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.F2"
		title="@Strings.F2">
		<settingConfig type="list">
			<listEntry value="0">@Strings.FIELD_TYPE_EMPTY</listEntry>
			<listEntry value="1">@Strings.FIELD_TYPE_BAT</listEntry>
			<listEntry value="2">@Strings.FIELD_TYPE_HR</listEntry>
			<listEntry value="3">@Strings.FIELD_TYPE_STEPS</listEntry>
			<listEntry value="4">@Strings.FIELD_TYPE_PRESSURE</listEntry>
			<listEntry value="5">@Strings.FIELD_TYPE_TEMPERATURE</listEntry>
			<listEntry value="6">@Strings.FIELD_TYPE_CALORIES</listEntry>
			<listEntry value="7">@Strings.FIELD_TYPE_DISTANCE</listEntry>
			<listEntry value="8">@Strings.FIELD_TYPE_FLOOR</listEntry>
			<listEntry value="9">@Strings.FIELD_TYPE_ELEVATION</listEntry>
			<listEntry value="10">@Strings.FIELD_TYPE_SUN_EVENT</listEntry>
			<listEntry value="11">@Strings.FIELD_TYPE_SUNRISE</listEntry>
			<listEntry value="12">@Strings.FIELD_TYPE_SUNSET</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.F3"
		title="@Strings.F3">
		<settingConfig type="list">
			<listEntry value="0">@Strings.FIELD_TYPE_EMPTY</listEntry>
			<listEntry value="1">@Strings.FIELD_TYPE_BAT</listEntry>
			<listEntry value="2">@Strings.FIELD_TYPE_HR</listEntry>
			<listEntry value="3">@Strings.FIELD_TYPE_STEPS</listEntry>
			<listEntry value="4">@Strings.FIELD_TYPE_PRESSURE</listEntry>
			<listEntry value="5">@Strings.FIELD_TYPE_TEMPERATURE</listEntry>
			<listEntry value="6">@Strings.FIELD_TYPE_CALORIES</listEntry>
			<listEntry value="7">@Strings.FIELD_TYPE_DISTANCE</listEntry>
			<listEntry value="8">@Strings.FIELD_TYPE_FLOOR</listEntry>
			<listEntry value="9">@Strings.FIELD_TYPE_ELEVATION</listEntry>
			<listEntry value="10">@Strings.FIELD_TYPE_SUN_EVENT</listEntry>
			<listEntry value="11">@Strings.FIELD_TYPE_SUNRISE</listEntry>
			<listEntry value="12">@Strings.FIELD_TYPE_SUNSET</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.F4"
		title="@Strings.F4">
		<settingConfig type="list">
			<listEntry value="0">@Strings.FIELD_TYPE_EMPTY</listEntry>
			<listEntry value="1">@Strings.FIELD_TYPE_BAT</listEntry>
			<listEntry value="2">@Strings.FIELD_TYPE_HR</listEntry>
			<listEntry value="3">@Strings.FIELD_TYPE_STEPS</listEntry>
			<listEntry value="4">@Strings.FIELD_TYPE_PRESSURE</listEntry>
			<listEntry value="5">@Strings.FIELD_TYPE_TEMPERATURE</listEntry>
			<listEntry value="6">@Strings.FIELD_TYPE_CALORIES</listEntry>
			<listEntry value="7">@Strings.FIELD_TYPE_DISTANCE</listEntry>
			<listEntry value="8">@Strings.FIELD_TYPE_FLOOR</listEntry>
			<listEntry value="9">@Strings.FIELD_TYPE_ELEVATION</listEntry>
			<listEntry value="10">@Strings.FIELD_TYPE_SUN_EVENT</listEntry>
			<listEntry value="11">@Strings.FIELD_TYPE_SUNRISE</listEntry>
			<listEntry value="12">@Strings.FIELD_TYPE_SUNSET</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.F5"
		title="@Strings.F5">
		<settingConfig type="list">
			<listEntry value="0">@Strings.FIELD_TYPE_EMPTY</listEntry>
			<listEntry value="1">@Strings.FIELD_TYPE_BAT</listEntry>
			<listEntry value="2">@Strings.FIELD_TYPE_HR</listEntry>
			<listEntry value="3">@Strings.FIELD_TYPE_STEPS</listEntry>
			<listEntry value="4">@Strings.FIELD_TYPE_PRESSURE</listEntry>
			<listEntry value="5">@Strings.FIELD_TYPE_TEMPERATURE</listEntry>
			<listEntry value="6">@Strings.FIELD_TYPE_CALORIES</listEntry>
			<listEntry value="7">@Strings.FIELD_TYPE_DISTANCE</listEntry>
			<listEntry value="8">@Strings.FIELD_TYPE_FLOOR</listEntry>
			<listEntry value="9">@Strings.FIELD_TYPE_ELEVATION</listEntry>
			<listEntry value="10">@Strings.FIELD_TYPE_SUN_EVENT</listEntry>
			<listEntry value="11">@Strings.FIELD_TYPE_SUNRISE</listEntry>
			<listEntry value="12">@Strings.FIELD_TYPE_SUNSET</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.F6"
		title="@Strings.F6">
		<settingConfig type="list">
			<listEntry value="0">@Strings.FIELD_TYPE_EMPTY</listEntry>
			<listEntry value="1">@Strings.FIELD_TYPE_BAT</listEntry>
			<listEntry value="2">@Strings.FIELD_TYPE_HR</listEntry>
			<listEntry value="3">@Strings.FIELD_TYPE_STEPS</listEntry>
			<listEntry value="4">@Strings.FIELD_TYPE_PRESSURE</listEntry>
			<listEntry value="5">@Strings.FIELD_TYPE_TEMPERATURE</listEntry>
			<listEntry value="6">@Strings.FIELD_TYPE_CALORIES</listEntry>
			<listEntry value="7">@Strings.FIELD_TYPE_DISTANCE</listEntry>
			<listEntry value="8">@Strings.FIELD_TYPE_FLOOR</listEntry>
			<listEntry value="9">@Strings.FIELD_TYPE_ELEVATION</listEntry>
			<listEntry value="10">@Strings.FIELD_TYPE_SUN_EVENT</listEntry>
			<listEntry value="11">@Strings.FIELD_TYPE_SUNRISE</listEntry>
			<listEntry value="12">@Strings.FIELD_TYPE_SUNSET</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.F7"
		title="@Strings.F7">
		<settingConfig type="list">
			<listEntry value="0">@Strings.FIELD_TYPE_EMPTY</listEntry>
			<listEntry value="1">@Strings.FIELD_TYPE_BAT</listEntry>
			<listEntry value="2">@Strings.FIELD_TYPE_HR</listEntry>
			<listEntry value="3">@Strings.FIELD_TYPE_STEPS</listEntry>
			<listEntry value="4">@Strings.FIELD_TYPE_PRESSURE</listEntry>
			<listEntry value="5">@Strings.FIELD_TYPE_TEMPERATURE</listEntry>
			<listEntry value="6">@Strings.FIELD_TYPE_CALORIES</listEntry>
			<listEntry value="7">@Strings.FIELD_TYPE_DISTANCE</listEntry>
			<listEntry value="8">@Strings.FIELD_TYPE_FLOOR</listEntry>
			<listEntry value="9">@Strings.FIELD_TYPE_ELEVATION</listEntry>
			<listEntry value="10">@Strings.FIELD_TYPE_SUN_EVENT</listEntry>
			<listEntry value="11">@Strings.FIELD_TYPE_SUNRISE</listEntry>
			<listEntry value="12">@Strings.FIELD_TYPE_SUNSET</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.F8"
		title="@Strings.F8">
		<settingConfig type="list">
			<listEntry value="0">@Strings.FIELD_TYPE_EMPTY</listEntry>
			<listEntry value="1">@Strings.FIELD_TYPE_BAT</listEntry>
			<listEntry value="2">@Strings.FIELD_TYPE_HR</listEntry>
			<listEntry value="3">@Strings.FIELD_TYPE_STEPS</listEntry>
			<listEntry value="4">@Strings.FIELD_TYPE_PRESSURE</listEntry>
			<listEntry value="5">@Strings.FIELD_TYPE_TEMPERATURE</listEntry>
			<listEntry value="6">@Strings.FIELD_TYPE_CALORIES</listEntry>
			<listEntry value="7">@Strings.FIELD_TYPE_DISTANCE</listEntry>
			<listEntry value="8">@Strings.FIELD_TYPE_FLOOR</listEntry>
			<listEntry value="9">@Strings.FIELD_TYPE_ELEVATION</listEntry>
			<listEntry value="10">@Strings.FIELD_TYPE_SUN_EVENT</listEntry>
			<listEntry value="11">@Strings.FIELD_TYPE_SUNRISE</listEntry>
			<listEntry value="12">@Strings.FIELD_TYPE_SUNSET</listEntry>
		</settingConfig>
	</setting>

</settings>
